@{
    ViewBag.Title = "Home Page";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="section-title">
            <h2>About</h2>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
                <img src="~/Content/img/p1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>A Quick Learner</h3>
                <p class="fst-italic">
                    Motivated and well trained in web Design and Development.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>27 august 2000</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+372 5850 5515</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Tartu, Estonia</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Secondary vocational</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>tim.jaager@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Skills</h2>
            <p>There are some technical skills that i have achived. Also some other additional skills.</p>
        </div>

        <div class="row skills-content">

            <div class="col-lg-4" data-aos="fade-up">
                <div class="progress">
                    <span class="skill">C# <i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">C++ <i class="val">30%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Python <i class="val">30%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">C <i class="val">30%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">JavaScript <i class="val">30%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">PHP <i class="val">30%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Java <i class="val">20%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>



            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">


                <div class="progress">
                    <span class="skill">HTML & CSS <i class="val">85%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">WordPress/CMS <i class="val">60%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">My SQL <i class="val">60%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">MS SQL <i class="val">50%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">ASP.NET <i class="val">65%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="progress">
                    <span class="skill">Microsoft Office <i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Adobe Photoshop <i class="val">45%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress">
                    <span class="skill">Problem Solving <i class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div> 
            </div>



        </div>

    </div>
</section><!-- End Skills Section -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="fade-up">
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Secondary Vocational Education in Computer Science & Engineering</h4>
                    <p>Kazan National Research Technical University</p>
                    <h5>September 2016-July 2020</h5>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">WORK HISTORY</h3>
                <div class="resume-item">
                    <h4>
                        Operator
                    </h4>
                    <p>Enics Eesti AS, Tartu, Estonia</p>
                    <h5>2022 – present</h5>
                </div>
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title"> VOLUNTEERING</h3>
                <div class="resume-item">
                    <h4>Participated</h4>
                    <p>
                        ICT Olympiad (2015)
                    </p>
                    <h5>2015</h5>

                </div>

            </div>

        </div>

    </div>
</section><!-- End Resume Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>
                
            </p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
            
            <div class="col-lg-4 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/favicon.ico" class="img-fluid" alt="" height="200" width="200" />
                    <div class="portfolio-links">
                        <a href="~/Content/img/portfolio/favicon.ico" data-gallery="portfolioGallery" class="portfolio-lightbox" title="TDUWorld Launcher"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/TDUWorld/TDUWorldLauncher" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-other">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/portfolio/other.jpg" class="img-fluid" alt="" height="200" width="200">
                    <div class="portfolio-links">
                        <a href="~/Content/img/portfolio/other.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Many Projects what is done by c#, asp.net, js etc"><i class="bx bx-plus"></i></a>
                        <a href="https://github.com/Panuchi?tab=repositories" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Tartu, Estonia</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>tim.jaager@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+372 5850 5515</p>
                    </div>
                    <iframe allowfullscreen src="https://maps.google.com/maps?width=556&amp;height=290&amp;hl=en&amp;q=Tartu&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" style="border:0; width: 100%; height: 290px;"></iframe>

                </div>

            </div>
            



        </div>

    </div>
</section><!-- End Contact Section -->
